BachecaAnnunci/SchemaAttivita.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BachecaAnnunci.Attivita">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="indirizzoIp"/>
        <xs:element type="xs:string" name="dataAttivita"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="tipoAttivita"/>
    </xs:complexType>
  </xs:element>
</xs:schema>