BachecaAnnunci/SchemaParametriConfigurazione.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ParametriConfigurazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ipServer"/>
        <xs:element type="xs:short" name="portaServer"/>
        <xs:element type="xs:byte" name="catDiagramTorta"/>
        <xs:element type="xs:byte" name="giorniCancellazionePost"/>
        <xs:element type="xs:string" name="fontTabella"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>